/* This file should contain CSS that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */


.gc-revoke.gc-top {top:0; left: 3em; border-bottom-left-radius:.5em;border-bottom-right-radius:.5em;}
.gc-revoke.gc-bottom {bottom:0; left: 3em; border-top-left-radius:.5em;border-top-right-radius:.5em;}
.gc-revoke.gc-left{left: 3em; right: unset;}
.gc-revoke.gc-right{right: 3em; left: unset;}

/**************************************** FLOATING ****************************************/

/* these classes position the floating element */
.gc-top {top: 1em} .gc-left {left: 1em} .gc-right {right: 1em} .gc-bottom {bottom: 1em}


/* links that are direct decendants should be displayed as block
.gc-floating>.gc-link {
  margin-bottom: 1em
}
 */

.gc-floating .gc-message {
  display: block;
  /*margin-bottom: 1em;*/
}


.gc-window.gc-floating .gc-compliance {
  flex: 1 0 auto;
}

/**************************************** BANNER ****************************************/

.gc-window.gc-banner {
  align-items: center;
}

.gc-banner.gc-top {
  left: 0; right: 0; top: 0;
}
.gc-banner.gc-bottom {
  left: 0; right: 0; bottom: 0;
}

.gc-banner .gc-message {
  flex: 1;
}

/* COMPLIANCE BOX */

.gc-compliance {
  display: flex;
  align-items: center;
  align-content: space-between;
  margin-top: 1em;
}
.gc-compliance>.gc-btn {
  flex: 1;
}

.gc-btn + .gc-btn {
  margin-left: .5em;
}
