.gc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }

.gc-window.gc-invisible {
  opacity: 0; }

/* only animate if has class 'cc-animate' */
.gc-animate.gc-revoke {
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease; }

.gc-animate.gc-revoke.gc-top {
  transform: translateY(-2em); }

.gc-animate.gc-revoke.gc-bottom {
  transform: translateY(2em); }

.gc-animate.gc-revoke.gc-active.gc-top {
  transform: translateY(0); }

.gc-animate.gc-revoke.gc-active.gc-bottom {
  transform: translateY(0); }

.gc-revoke:hover {
  transform: translateY(0); }

.gc-grower {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease; }

/* the popup window */
.gc-window,
.gc-death-shroud {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  /* exclude padding when dealing with width */
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 1em;
  /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9999;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: transparent;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* 2 basic types of window - floating / banner */
.gc-notice.gc-floating {
  padding: 2em;
  max-width: 24em;
  /* 1em == 16px therefore 24em == 384px */
  flex-direction: column;
  margin: auto;
  border-radius: .5em; }

.gc-revoke {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  /* exclude padding when dealing with width */
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 1em;
  /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  padding: .5em;
  z-index: 9999; }

.gc-revoke:hover {
  text-decoration: underline; }

.gc-header {
  font-size: 18px;
  font-weight: bold; }

/* clickable things */
.gc-btn, .gc-link, .gc-close, .gc-revoke {
  cursor: pointer; }

.gc-link {
  opacity: .8;
  display: inline-block;
  padding: .2em;
  text-decoration: underline; }

.gc-link:hover {
  opacity: 1; }

.gc-link:active, .gc-link:visited {
  color: initial; }

.gc-btn {
  display: block;
  padding: .4em .8em;
  font-size: 0.9em;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap; }

.gc-banner .gc-btn:last-child {
  min-width: 140px; }

.gc-highlight .gc-btn:first-child {
  background-color: transparent;
  border-color: transparent; }

.gc-highlight .gc-btn:first-child:hover,
.gc-highlight .gc-btn:first-child:focus {
  background-color: transparent;
  text-decoration: underline; }

.gc-close {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.6em;
  opacity: .9;
  /* seeing as this contains text and not an image, the element taller than it is wide (because it is text) */
  /*  - we want it to be a square, because it's acting as an icon */
  /*  - setting the line height normalises the height */
  line-height: .75; }

.gc-close:hover,
.gc-close:focus {
  opacity: 1; }

.gc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }

.gc-window.gc-invisible {
  opacity: 0; }

/* only animate if has class 'cc-animate' */
.gc-animate.gc-revoke {
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease; }

.gc-animate.gc-revoke.gc-top {
  transform: translateY(-2em); }

.gc-animate.gc-revoke.gc-bottom {
  transform: translateY(2em); }

.gc-animate.gc-revoke.gc-active.gc-top {
  transform: translateY(0); }

.gc-animate.gc-revoke.gc-active.gc-bottom {
  transform: translateY(0); }

.gc-revoke:hover {
  transform: translateY(0); }

.gc-grower {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease; }

/* This file should contain CSS that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */
.gc-revoke.gc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em; }

.gc-revoke.gc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em; }

.gc-revoke.gc-left {
  left: 3em;
  right: unset; }

.gc-revoke.gc-right {
  right: 3em;
  left: unset; }

/**************************************** FLOATING ****************************************/
/* these classes position the floating element */
.gc-top {
  top: 1em; }

.gc-left {
  left: 1em; }

.gc-right {
  right: 1em; }

.gc-bottom {
  bottom: 1em; }

/* links that are direct decendants should be displayed as block */
.gc-floating > .gc-link {
  margin-bottom: 1em; }

.gc-floating .gc-message {
  display: block;
  margin-bottom: 1em; }

.gc-window.gc-floating .gc-compliance {
  flex: 1 0 auto; }

/**************************************** BANNER ****************************************/
.gc-window.gc-banner {
  align-items: center; }

.gc-banner.gc-top {
  left: 0;
  right: 0;
  top: 0; }

.gc-banner.gc-bottom {
  left: 0;
  right: 0;
  bottom: 0; }

.gc-banner .gc-message {
  flex: 1; }

/* COMPLIANCE BOX */
.gc-compliance {
  display: flex;
  align-items: center;
  align-content: space-between; }

.gc-compliance > .gc-btn {
  flex: 1; }

.gc-btn + .gc-btn {
  margin-left: .5em; }

@media print {
  .gc-window, .gc-revoke {
    display: none; } }

@media screen and (max-width: 900px) {
  .gc-btn {
    white-space: normal; } }

/* dimensions for 'iPhone6 Plus' and lower */
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
  .gc-window.gc-top {
    top: 0; }
  .gc-window.gc-bottom {
    bottom: 0; }
  .gc-window.gc-banner, .gc-window.gc-right, .gc-window.gc-left {
    left: 0;
    right: 0; }
  .gc-window.gc-banner {
    flex-direction: column; }
  .gc-window.gc-banner .gc-compliance {
    flex: 1; }
  .gc-window.gc-floating {
    max-width: none; }
  .gc-window .gc-message {
    margin-bottom: 1em; }
  .gc-window.gc-banner {
    align-items: unset; } }

/* iPhone 6 */
/* iPhone 6 plus */
/* iPhone 5 & 5S */
/* iPhone 2G - 4S */
/* Classic */
.gc-floating.gc-theme-classic {
  padding: 1.2em;
  border-radius: 5px; }

.gc-floating.gc-type-info.gc-theme-classic .gc-compliance {
  text-align: center;
  display: inline;
  flex: none; }

.gc-floating.gc-type-info.gc-theme-classic .gc-btn {
  display: inline-block; }

.gc-theme-classic .gc-btn {
  border-radius: 5px; }

.gc-theme-classic .gc-btn:last-child {
  min-width: 140px; }

/* Edgeless */
.gc-theme-edgeless.gc-window {
  padding: 0; }

.gc-floating.gc-theme-edgeless .gc-message {
  margin: 2em;
  margin-bottom: 1.5em; }

.gc-banner.gc-theme-edgeless .gc-btn {
  margin: 0;
  padding: .8em 1.8em;
  height: 100%; }

.gc-banner.gc-theme-edgeless .gc-message {
  margin-left: 1em; }

.gc-floating.gc-theme-edgeless .gc-message {
  margin: 2em;
  margin-bottom: 1.5em; }

.gc-floating.gc-theme-edgeless .gc-btn + .gc-btn {
  margin-left: 0; }
